.header {
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    align-self: stretch;
    height: 64px;
    align-items: center;
    max-width: 720px;
    flex-grow: 1;
    flex-basis: 0;
}

.title {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    padding-right: 16px;
    align-items: baseline;
    gap: 8px;
    flex-grow: 1;
    flex-basis: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @apply text-foreground;
}