.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
}
.section {
    align-self: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    gap: 16px;
    width: 560px;
    margin-bottom: 32px;
}